{% extends 'base/base.html' %} {% load static %} {% block header %}
<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Django AJAX</h1>
            <p class="lead fw-normal text-white-50 mb-0">With Jquery</p>
            <p class="fw-normal text-white-50 mb-0">CRUD without page reload</p>
        </div>
    </div>
</header>
{% endblock header %} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="text-muted">Add/Update Student</h2>
                <br />
                <div class="w-50 borde rounded-4 shadow-lg p-4">
                    <!-- Specifier la methode POST -->
                    <form action="" method="POST">
                        {% csrf_token%}
                        <div class="floatingInput mb-3">
                            <label for="floatingInput" class="form-label">
                                <small> Name </small>
                            </label>
                            {% render_field form.name class="form-control" %}
                        </div>
                        <div class="floatingInput mb-3">
                            <label for="floatingInput" class="form-label">
                                <small> Email </small>
                            </label>
                            {% render_field form.email class="form-control" %}
                        </div>
                        <div class="floatingInput mb-3">
                            <label for="floatingInput" class="form-label">
                                <small> Course </small>
                            </label>
                            {% render_field form.course class="form-control" %}
                        </div>
                        <input
                            type="button"
                            class="btn btn-sm btn-success"
                            value="Save"
                            id="btn-save"
                        />
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="text-muted">Student list</h2>
                <small class="text-muted"> List updated dynamically </small>
                <br />
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Course</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!-- id 'tbody' to change the content withthe ajaxa data  -->
                    <tbody id="tbody">
                        {% for student in stu %}
                        <tr>
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.name}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.course}}</td>
                            <td>
                                <input
                                    type="button"
                                    value="Edit"
                                    class="btn btn-outline-warning btn-edit btn-sm"
                                    data-sid="{{student.id}}"
                                />
                                <input
                                    type="button"
                                    value="Delete"
                                    class="btn btn-outline-danger btn-del btn-sm"
                                    data-sid="{{student.id}}"
                                />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
<!-- Footer-->
